/* General Body Styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100vh; /* Full height for vertical centering */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically centers content */
    align-items: center; /* Horizontally centers content */
}

/* Header Styling */
h1 {
    color: #2c3e50;
    margin-top: 20px;
    font-size: 3em;
}

/* Video Styling */
#video-container {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border: 5px solid #2c3e50;
    border-radius: 8px;
    display: flex; /* Ensures the video container is centered */
    justify-content: center; /* Centers content inside the video container */
    align-items: center; /* Centers content inside the video container */
}

/* Form Styling */
form {
    margin-top: 30px;
    padding: 20px;
    background-color: white;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
}

/* General Styling for inputs */
input[type="text"], input[type="submit"], #show-video {
    padding: 10px;
    font-size: 1.2em;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;  /* Set the button width to 100% of the form's width */
    margin-bottom: 10px;
    height: 50px; /* Set the height to make inputs the same size */
}

/* Show Video Button */
#show-video {
    width: auto; /* Prevent it from stretching across the full width */
    max-width: 300px; /* Limit the button width */
    margin-bottom: 20px; /* Add some space between buttons */
}

/* Submit Button and Show Video Button Styling */
input[type="submit"], #show-video {
    background-color: #2c3e50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover, #show-video:hover {
    background-color: #34495e;
}

/* Styling for the input in datalist */
input[list="trick-list"] {
    padding: 10px;
    font-size: 1.2em;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 80%;
    margin-bottom: 10px;
    height: 50px; /* Set the height to make inputs the same size */
}

/* Feedback Styling */
#feedback {
    margin-top: 20px;
    font-size: 1.2em;
    color: #e74c3c;
    font-weight: bold;
}

/* Responsive Styling */
@media (max-width: 768px) {
    h1 {
        font-size: 2.5em;
    }

    form {
        width: 90%;
        margin-top: 20px;
    }

    input[type="text"], input[type="submit"], #show-video {
        width: 100%;
    }
}
